<h2>Массовая рассылка</h2>
<form id="contact-form" method="post" action="/massrass">
    <label for="who">Тут вводите текст и отправляете</label>
    <h3>Сообщение:</h3>
    <textarea rows="6" type="text" name="who">"Напишите что-нибудь..."</textarea>
    <p><input type="submit" value="Отправить"></p>
</form>